.slider-viewport {
	overflow: hidden;
	height: 0;
	position: relative;
}

.slider-items {
	height: 100%;
	position: absolute;
	transition: .5s ease all;
}

.slider-item {
	height: 100%;
	float: left;
}

.slider-pagination {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.slider-pagination li {
	display: inline-block;
	background-color: #999;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	text-indent: -999em;
	font-size: 0;
	margin: 10px 5px;
	cursor: pointer;
}

.slider-pagination li.active {
	background-color: #333;
}
